body {
    font-family: Arial;
    padding: 20px;
    background: #f0f0f0;
}

textarea {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 10px;
}

button {
    padding: 12px 25px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

#output {
    margin-top: 20px;
    padding: 20px;
    background: white;
}
